@page "/helloworld"

@using BlazorSampleApp.Data
@inject HelloFromService HelloFrom

<h1>Hello from random places on Earth!</h1>

<p>This page contains greetings from over a dozen knowledge centers.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Greeting</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private HelloFrom[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await HelloFrom.GetGreeting(DateTime.Now);
    }
}
